body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f9f9f9;
  text-align: center;
}

#controls {
  margin: 1em auto;
}

#viewer {
  width: 800px;
  height: 600px;
  border: 2px solid #cccccc;
  margin: 20px auto;
  position: relative;
  background-color: #000000;
}
